/client1/packages 
/client1/contact_center_application/bin
/server_file_exchange/nbproject/private/
/server_file_exchange/target/
/server_fast_connection/target/
/server_control_file_structure/target/